Types: deb
URIs: https://packages.microsoft.com/repos/azure-cli/
Suites: {{ ansible_lsb.codename }}
Components: main
Architectures: {{ ansible_architecture }}
Signed-by: /etc/apt/keyrings/microsoft.gpg
